body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.border-main{
  border: 2px solid black;
  width: 80rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: auto;
  padding: 20px;
}
a{
  font-size: 20px;
}
p{
  font-size: 18px;
  margin-left: 10px;
}